@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', serif;
  background-color: #D5E1EF;
  height: 100vh;
}

main, .container{
  height: inherit;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px

}
.card{
  background-color: hsl(0, 0%, 100%);
  max-width: 250px;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

img{
  width: 250px;
  height: auto;
  border-radius: 15px;
}
.h1{
  font-weight: 700;
  font-size: 20px;
  color: hsl(218, 44%, 22%);
}
.secondary{
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}